body {
  overflow-y: scroll;
}

.page {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.page__heading {
  font-weight: 300;
}

.page__input {
  border: none;
  background-color: #efefef;
  width: 98%;
  max-width: 450px;
  height: 34px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  padding: 2px 7px;
  outline: none;
}

.page__input-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page__spinner {
  border: 2px solid transparent;
  border-top: 3px solid #ffe938;
  border-right: 3px solid #ffe938;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  margin: 0 0 0 7px;
  visibility: hidden;
  opacity: 0;
}

.page__spinner_active {
  visibility: visible;
  opacity: 1;
  animation: spin 0.8s linear infinite;
}

.page__address-box {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;
  width: 98%;
  max-width: 450px;
  margin-right: 38px;
}


.page__address {
  display: flex;
  flex-direction: column;
  padding: 7px 10px;
  transition: all 0.3s;
  border-radius: 10px;
}

.page__address:hover {
  cursor: pointer;
  background-color: #efefef57;
}

.page__address-value {
  font-size: 18px;
}

.page__address-city {
  color: #a6a6a6;
  margin-top: 5px;
  font-size: 15px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
